<form class="m-2 m-left-2">
    <br>
    <div class="page-header centrado">
        <br>
        <h2 class="font">DELIVERY</h2>
        <br>
        <hr>
    </div>

    <div class="table-responsive align-content-center centrado">
        <ng-container *ngFor="let service of services">
            <div class="scroll">
                <table class="table">
                    <thead>
                        <tr class="table-success table-bordered align-content-center">
                            <td><b>DELIVERY DATE</b></td>
                            <td><b>PRODUCER NAME</b></td>
                            <td><b>LOCATION</b></td>
                            <td><b>BUYER NAME</b></td>
                            <td><b>DELIVERY LOCATION</b></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ service.servicio.fecha }}</td>
                            <td>{{ service.servicio.productor.name }}</td>
                            <td>{{ service.servicio.productor.dir }}</td>
                            <td>{{ service.servicio.comprador.name }}</td>
                            <td>{{ service.servicio.comprador.dir }}</td>
                            <td><button class="btn btn-outline-success" (click)="eventoAlert()">CANCEL</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>

            <div class="page-header centrado">
                <h6><b>Route:</b></h6>
            </div>

            <div>
                <img [src]='service.servicio.img' alt="trayecto">
            </div>
        </ng-container>
    </div>
</form>