<form class="m-2 m-left-2">
    <div class="page-header centrado">
        <h2><b>ORDERS</b></h2>
        <hr>
        <br>
    </div>

    <div class="table-responsive centrado">
        <table class="table">
            <thead>
                <tr class="table-success">
                    <td><b>No</b></td>
                    <td><b>PRODUCT</b></td>
                    <td><b>CLIENT</b></td>
                    <td><b>REQUEST DATE</b></td>
                    <td><b>STATUS</b></td>
                    <td><b>ESTIMATED DELIVERY DATE</b></td>
                    <td> </td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                <td>1</td>
                <td>Lettuce</td>
                <td>Mario Casas</td>
                <td>19-08-2019</td>
                <td>Finalizado</td>
                <td>22-08-2019</td>
                <td><button class="btn btn-outline-success">DELETE</button></td>
                <td><button class="btn btn-outline-success">CANCEL</button></td>
            </tbody>
        </table>
    </div>
</form>
<br>