#error {
    font-size: small;
    color: red;
    text-align: center;
}

.centrado {
    align-content: center;
    text-align: center;
    align-items: center;
}

.align {
    align-content: flex-start;
}