<div class="page-body-wrapper full-page-wrapper auth-page">
    <div class="btn-icons">

        <button type="button" class="border border-success btn btn-rounded mr-5 ">  
            <a href=" # " data-toggle="tooltip " title="Comprar ">
                <i  class="fas fa-dollar-sign fa-5x "  style= "color:#3AAD0C " >
                    </i>
            </a>
        </button>
        <button type="button " class="border border-success btn btn-rounded-circle waves-effect mr-5 ">  
                <a href="# " data-toggle="tooltip " title="Historial ">
                    <i  class="fas fa-edit fa-5x "  style= "color:#3AAD0C " >
                        </i>
                </a>
        </button>
        <button type="button " class="border border-success btn btn-rounded waves-effect mr-5 ">  
                <a href="# " data-toggle="tooltip " title="Revisar compras ">
                    <i  class="fas fa-shopping-cart fa-5x "  style= "color:#3AAD0C" >
                        </i>
                </a>
            </button>
    </div>
</div>
