<form class="m-2 m-left-2">
    <div class="page-header centrado">
        <br>
        <h2 class="font">CLOSE TO YOUR HOME</h2>
        <br>
        <hr>
    </div>
    <div class="input-group mb-1 active-green centrado">
        <div class="input-group md-form">
            <select value="" id="criterio" mdbBtn color="success" class="dropdown-toggle waves-light px-2" type="button">
                <option selected hidden>FILTER</option>
                <option value="NAME">NAME</option>
                <option value="MORE THAN">MORE THAN</option>
                <option value="LESS THAN">LESS THAN</option>
            </select>
            <input value="" id="cadena" type="text" class="form-control" placeholder="Search">
            <button class="btn btn-success px-3" type="submit" (click)="searchProduct()"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>


<div class="table-responsive">
    <table class="table centrado-table">
        <tbody>
            <ng-container *ngFor="let product of listProducts; let i ='index+1'">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <img [src]='product.img' alt="lechuga" class="img-thumbnail" style="width: 200px">
                                <div class="form-row">
                                    <div class="input-group active-green-2">
                                        <input type="number" class="form-control" placeholder="Quantity" style="width:50px">
                                        <button class=" btn btn-success btn-sm " type="submit" (click)="EventoAlert()">BUY!</button>
                                    </div>
                                    <div class="custom-control custom-checkbox checkbox-success">
                                        <input type="checkbox" class="custom-control-input " [id]='product.name+i'>
                                        <label class="custom-control-label" [for]='product.name+i'>Pick Up</label>
                                    </div>
                                </div>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Product name: {{ product.name }}</td>
                            </tr>
                            <tr>
                                <td>Producer: {{ product.vendedor.name }}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Unit: {{ product.medida }}</td>
                            </tr>
                            <tr>
                                <td>Price: {{ product.preciom }} USD</td>
                            </tr>
                            <tr>
                                <td>Units available: {{ product.cantidad }} </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>