<form class="m-2 m-left-2">
    <div class="page-header centrado">
        <br>
        <h2 class="font">REQUEST FINANCING</h2>
        <br>
        <hr>
    </div>

    <div class="md-form mt-1 active-green-2 active-text-2">
        <input mdbInput type="text" bsDatepicker class="form-control" id="fecha_siembra">
        <label for="fecha_siembra">Sowing Date</label>
    </div>
    <div class="md-form form-group mt-1 active-green-2 active-text-2">
        <input mdbInput type="text" class="form-control" id="description">
        <label for="description">Description</label>
    </div>
    <div class="md-form form-group mt-1 active-green-2 active-text-2">
        <input mdbInput type="text" class="form-control" id="name">
        <label for="name">Global Invesment $$$</label>
    </div>

    <div class="form-row align-items-center active-green active-text">
        <div class="col">
            <div class="md-form mt-1">
                <input mdbInput type="number" class="form-control" id="cantidad">
                <label for="cantidad">Interest Percentage %</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form mt-1">
                <input mdbInput type="number" class="form-control" id="retorno">
                <label for="retorno">Invesment Return Time (Days)</label>
            </div>
        </div>
    </div>

    <div id="div_file">
        <p id="texto"><b>CHOOSE IMAGE <i class="fa fa-cloud-upload-alt  "></i></b></p>
        <input type="file" id="enviar_image">
    </div>
    <br>
    <button type="submit" class="btn btn-outline-success mr-2 centrado" (click)="EventoAlert()" style="border-radius: 15px"><i class="fa fa-upload"></i>UPLOAD</button>
    <button type="reset" class="btn btn-outline-success centrado" style="border-radius: 15px">CANCEL</button>
</form>