<form class="m-2 m-left-2">
    <div class="page-header centrado">
        <br>
        <h2 class="font">PRODUCTS</h2>
        <br>
        <hr>
    </div>

    <div class="table-responsive align-content-center">
        <table class="table">
            <thead>
                <tr class="table-success table-bordered  align-content-center">
                    <td><b>No</b></td>
                    <td><b>SOWING DATE</b></td>
                    <td><b>HARVEST DATE</b></td>
                    <td><b>PRODUCT NAME</b></td>
                    <td><b>WHOLESALE AMOUNT</b></td>
                    <td><b>WHOLESALE PRICE</b></td>
                    <td><b>WHOLESALE RETAIL</b></td>
                    <td><b>UNITS AVAILABLE</b></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let product of listProducts; let i = 'index+1'">
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ product.siembra }}</td>
                        <td>{{ product.cosecha }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.cantidadM }}</td>
                        <td>{{ product.precioM }} </td>
                        <td>{{ product.preciom }}</td>
                        <td>{{ product.cantidad }}</td>
                        <td><button class="btn btn-outline-success" (click)="navegarARegistro()">UPDATE</button></td>
                        <td><button type="reset" class="btn btn-outline-success" (click)="eventoAlert()">DELETE</button></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</form>