<form class="m-2 m-left-2">
    <div class="page-header centrado">
        <h2><b>ORDERS</b></h2>
        <br>
        <hr>
    </div>

    <div class="table-responsive centrado">
        <table class="table">
            <thead>
                <tr class="table-success table-bordered centrado">
                    <td><b>No</b></td>
                    <td><b>PRODUCT NAME</b></td>
                    <td><b>PROVIDER</b></td>
                    <td><b>REQUEST DATE</b></td>
                    <td><b>DELIVERY DATE</b></td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let historialProductor of productsSiembra; let i = 'index + 1' ">
                    <tr>
                        <td>{{i}}</td>
                        <td>{{historialProductor.name}}</td>
                        <td>{{historialProductor.vendedor.name}}</td>
                        <td>{{historialProductor.comprador.request}}</td>
                        <td>{{historialProductor.comprador.estimado}}</td>
                        <td><button type="reset" class="btn btn-outline-success" (click)="EventoAlert()">DELETE</button></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <br>
</form>