.centrado {
    text-align: center;
}

.font {
    font-weight: bold;
}

table tr {
    text-align: center;
    align-content: center;
}

table td {
    text-align: center;
    align-content: center;
}