.centrado {
    text-align: center;
}

.progress-bar-1 {
    background-color: rgb(255, 49, 49);
}

.progress-bar-2 {
    background-color: rgb(247, 139, 52);
}

.progress-bar-3 {
    background-color: rgb(252, 252, 72);
}

.progress-bar-4 {
    background-color: rgb(85, 252, 70);
}

table tr {
    text-align: center;
    align-content: center;
}

table td {
    text-align: center;
    align-content: center;
}