<header>
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green" [containerInside]="false">
        <mdb-navbar-brand>
            <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
            <button type="button" class="btn btn-success" (click)="notify.emit()"><i class="fas fa-bars"></i></button>
            <a class="navbar-brand navbarlogo" [routerLink]="['/']">&nbsp; Millionurbanfarms</a>
        </mdb-navbar-brand>
    </mdb-navbar>
    <br>
</header>
