<form class="m-2 m-left-2">

    <div class="page-header centrado">
        <br>
        <h2 class="font">PURCHASE STATUS</h2>
        <br>
    </div>


    <div class="table-responsive">
        <table class="table">
            <tbody>
                <ng-container *ngFor="let product of listProducts">
                    <tr>
                        <td> <img [src]="product.img" alt="lechuga" class="img-thumbnail" style="width: 200px"></td>
                        <td>
                            <table>
                                <tr>Product Name: {{ product.name }}</tr>
                                <tr><b>Status: {{ product.status }}</b></tr>
                                <tr>Meansurement: {{ product.medida }}</tr>
                                <tr>Price: ${{ product.preciom }}</tr>
                                <tr>Units: {{ product.comprador.cantidad }} {{ product.medida }}s</tr>
                            </table>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>


</form>