<form class="m-2 m-left-2 ">

    <div class="page-header centrado">
        <br>
        <h2 class="font">MILLION URBAN FARMS</h2>
        <hr>
    </div>

    <br>
    <div class="card-group centrado ">
        <div class="card">
            <img class="card-img-top img" src='../../../assets/img/Hort Americas.png' alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title font">Hort Americas</h5>
                <p class="card-text">
                    Industry Leading Knowledge in Commercial Hydroponic Vegetable Production, Vertical Farming, Urban Farming, Urban Agriculture, Engineered Substrates, Fertilizers and LED Grow Lights, more than 10 years experience.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img" src='../../../assets/img/Itsco Agro.png' alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title font">Itsco Agro</h5>
                <p class="card-text ">
                    Pioneering urban hydroponic farming in Mexico city. Presently operating 305 sq. meters (3,283 sq ft.) urban hydroponic farm producing lettuce and greens. 89 years experience in agro-business supply chain (seeds, etc.). Led by women CEO.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img" src='../../../assets/img/Vintecdyne.png' alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title font">Vintecdyne</h5>
                <p class="card-text">
                    An IT startup founded in 2015, Mexico City based whose multidisciplinary team have nearly 20 years of experience in diverse industries. Constantly growing, its expertise is mostly focused in open source technologies applied to web-based systems such as
                    SAAS (Software as a Service) and mobile applications.
                </p>
            </div>
        </div>
    </div>
</form>