<br>
<footer class="page-footer font-small green pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase font-weight-bold">Welcome</h5>
                <p>This is the right space to feel one with nature, 
                    now every time you enter here you will feel an 
                    unforgettable relief.</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase font-weight-bold">We wish</h5>
                <p>That this is the best website you have entered in your life, 
                    it was made especially for you.</p>
            </div>

        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        © 2018 Copyright: Vintec.com
        <br>
    </div>    
</footer>
