<br>
<footer class="page-footer font-small green pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row ">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase font-weight-bold">Welcome</h5>
                <p>To this unique app where you will find alternatives of vegetable production in your area!</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase font-weight-bold">We wish</h5>
                <p>We can contribute to a better nutrition and environmental care.</p>
            </div>

        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        © 2018 Copyright: Vintec.com
        <br>
    </div>
</footer>