<form class="m-2 m-left-2">
    <div class="page-header centrado">
        <br>
        <h2 class="font">REGISTER A NEW PRODUCT</h2>
        <br>
        <hr>
    </div>
    <div class="md-form form-group mt-1 active-green-2 active-text-2">
        <input mdbInput type="text" class="form-control" id="name">
        <label for="name">Product name</label>
    </div>
    <div class="md-form mt-1 active-green active-text">
        <input mdbInput type="number" class="form-control" id="cantidad">
        <label for="cantidad">Units Available</label>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="md-form mt-1  green-border-focus">
                <select class="selectpicker form-control" id="medida">
                        <option>Meansurement</option>
                        <option>Piece</option>
                        <option>Bunch</option>
                        <option>Grams</option>
                        <option>Kilograms</option>
                        <option>Bag</option>
                        <option>Box</option>
                        </select>
            </div>
        </div>
        <div class="col ">
            <div class="md-form mt-1 active-green active-text">
                <input mdbInput type="number" class="form-control" id="cantidadM">
                <label for="cantidadM ">Wholesale Amount</label>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center active-green active-text ">
        <div class="col ">
            <div class="md-form mt-1 ">
                <input mdbInput type="number" class="form-control" id="precioM">
                <label for="preciom ">Wholesale Price</label>
            </div>
        </div>
        <div class="col ">
            <div class="md-form mt-1 ">
                <input mdbInput type="number" class="form-control" id="preciom">
                <label for="preciom ">Wholesale Retail</label>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center active-green-2 active-text-2 ">
        <div class="col ">
            <div class="md-form mt-1 ">
                <input mdbInput type="text" bsDatepicker class="form-control" id="fecha_siembra ">
                <label for="fecha_siembra ">Seedtime Date</label>
            </div>
        </div>
        <div class="col ">
            <div class="md-form mt-1 ">
                <input mdbInput type="text" bsDatepicker class="form-control" id="fecha_cosecha ">
                <label for="fecha_cosecha ">Harvest Date</label>
            </div>
        </div>
    </div>
    <div id="div_file">
        <p id="texto"><b>CHOOSE IMAGE <i class="fa fa-cloud-upload-alt  "></i></b></p>
        <input type="file" id="enviar_image">
    </div>

    <hr>
    <br>
    <button type="" class="btn btn-outline-success mr-2 " (click)="EventoAlert()" style="border-radius: 15px "><i class="fa fa-save "></i>SAVE</button>
    <button type="reset " class="btn btn-outline-success " style="border-radius: 15px ">CANCEL</button>

</form>